/* fonts */
@font-face {
    font-family: "Titilium_web";
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(../assests/fonts/Quicksand/static/Quicksand-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../assests/fonts/Inter/static/Inter-Regular.ttf);
}






/* RESET DA PAGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout_grid {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    /* border: 1px solid red; */

}

/******* MOBILE FIRST ********/

/* COR DE FUNDO */
body {
    color: white;
    background-color: #1B1426;
}


/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    width: 100vw;
    height: 60px;
    background-color: #1B1426;

}


/* HEADER TOP */

/* HIDE HEADER TOP IT ONLY APPEARS ON THE DESKTOP */
header .header_top {

    display: none;
}

/* HEADER BOTTOM */

header .site_between_center {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header_bottom {
    height: 100%;
}

header .header_bottom img.menu {
    width: 86px;
}



header .header_bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 22;
    width: 80vw;
    height: calc(100vh - 60px);


    display: flex;
    flex-direction: column;
    /* padding-bottom: 20px; */
    border-image: linear-gradient(to bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    background-image: linear-gradient(to bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: left 0.7s;
}


.showmenu {

    left: 0 !important;
}

/* o sinal maior ativa somente os links diretos nao ativa o efeito cascata */

header .header_bottom nav>a {

    /* border: 1px solid #F9AA01; */
    border-bottom: 2px solid #F9AA01;
    padding: 30px 0;
    text-align: center;
    text-decoration: none;
    font-family: "Inter";
    font-size: 15px;
    color: white
}

header .header_bottom nav>a:hover {

    background-color: #F9AA01;
}

header .header_bottom nav>a:last-of-type {

    border: none;
}

header .header_bottom .social_media {
    position: absolute;
    bottom: 15px;
    left: calc(50% - 100px);
    width: 200px;
    height: 40px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


header .header_bottom .user_menu {
    position: fixed;
    top: 60px;
    right: -66px;
    z-index: 22;
    width: 17vw;
    height: 23vh;


    display: flex;
    flex-direction: column;
    border-image: linear-gradient(to bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    background-image: linear-gradient(to bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: 0.7s;

}

.clickPoint {
    right: 0 !important;
}


/****** MAIN *********/


/* FIRST SECTION */

main {
    margin-top: 60px;
}

main .banner {

    width: 100%;
    height: 606px;
    padding: 40px 0;

    background-image: url(../assets/images/valorant-pergunte-3-scaled\ 2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}



main .banner h1 {

    font-family: "Titilium_web";
    font-size: 40px;
    text-shadow: 0 0 8px #FD4255;
    text-transform: capitalize;

}


main .button_about {

    width: 171px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9AA01;
    color: #1B1426;

    text-decoration: none;
    font-family: "Titilium_web";
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

/* SECOND SECTION */

main .second_sec {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 590px;
    width: 100%;

    background-color: #1b1426;
}

main .second_sec .banner_fifa {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335.73px;
    height: 189px;

    background-image: url(../assets/images/Card-FIFA.png);
}


main .second_sec .box_translucid {

    position: absolute;
    bottom: 0;

    width: 335px;
    height: 50px;

    background-image: linear-gradient(to right bottom, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.1));
    border-image: linear-gradient(to right bottom, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.1));
    filter: blur(0 0 4px);
    border-radius: 8px;

}

main .box_form {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 37px;

    width: 160px;
    height: 40px;
    transform: skew(-40deg);

    background-color: #F9AA01;
}

main .box_form span {

    font-family: "Titilium_web";
    font-weight: 700;
    font-size: 16px;
    color: black;
    transform: skew(40deg);
}

main .banner_cs {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;


    width: 335.73px;
    height: 189px;
    background-image: url(../assets/images/Card-CS\ GO.png);

}



/* THIRD SECTION */

main .third_sec {
    position: relative;


    display: flex;
    flex-direction: column;
    align-items: center;


    padding-top: 84px;

    width: 100%;
    height: 1535px;
    background-color: #F9AA01;
}

main .third_sec h2 {

    display: flex;
    justify-content: center;

    color: #1B1426;
    font-family: "Titilium_web";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 900;

}

main .third_sec hr {

    position: absolute;
    top: 146px;
    left: 86px;
    width: 204px;
    border: #1B1426 1px solid;
}


main .third_sec .first_art {

    position: absolute;
    top: 228px;
    width: 314px;
    height: 511px;
    background-image: url(../assets/images/kiljoy.png);
}

main .third_sec .box_content {

    position: absolute;
    top: 143px;
    left: 95px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 231px;
    height: 300px;

    border-radius: 8px;
    background-image: linear-gradient(to bottom right, rgba(122, 49, 236, 0.2), rgba(47, 7, 109, 0.83));
    backdrop-filter: blur(10px);
}

main .third_sec .box_content h3 {

    font-family: "Titilium_web";
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 2px 7px #c6a5e6;
    width: 179px;
    height: 27px;

}

main .third_sec .box_content p {

    font-family: 'Quicksand';
    font-size: 13px;
    text-align: justify;
    width: 176px;
    height: 64px;
}


main .third_sec .second_art {

    position: absolute;
    top: 867px;
    left: 33px;
    width: 322px;
    height: 428px;
    background-image: url(../assets/images/backimage_second.png );
}

main .third_sec .box_teacher {

    position: absolute;
    top: 118px;
    left: -12px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 231px;
    height: 300px;

    border-radius: 8px;
    background-image: linear-gradient(to bottom right, rgba(122, 49, 236, 0.2), rgba(47, 7, 109, 0.83));
    backdrop-filter: blur(10px);
}

main .third_sec .box_teacher h3 {

    font-family: "Titilium_web";
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 2px 7px #c6a5e6;
    width: 179px;
    height: 27px;

}

main .third_sec .box_teacher p {

    font-family: 'Quicksand';
    font-size: 13px;
    text-align: justify;
    width: 176px;
    height: 64px;
}


/* SECTION NEWS  *****************/

main .news_sec {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */

    width: 100%;
    height: 3675px;

    background-image: url(../assets/images/backgrund_notícias.png);
}

main .news_sec h1 {

    color: white;
    font-family: "Titilium_web";
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 46px;
}

main .news_sec hr {
    position: absolute;
    top: 112px;

    width: 204px;
    border: solid 1px #F9AA01;
}

main .news_sec .news {


    width: 335px;
    height: 387px;

    margin-top: 45px;

    background-image: linear-gradient(to left bottom, rgba(37, 26, 52, 0.34), rgba(5, 1, 12, 0.79));

    backdrop-filter: blur(6px);


}

main .news_sec .unica {
    margin-top: 100px;
}

main .news_sec .news h2 {

    font-family: "Titilium_web";
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    padding-top: 16px;
    padding-left: 25.86px;
}


main .news_sec .news p {

    width: 283px;
    height: 123px;
    font-family: "Quicksand";
    font-size: 16px;
    color: white;
    padding-top: 8px;
    padding-left: 25.86px;

}

/* FOOTER */

footer{
    position: relative;

    box-shadow: inset 0 30px 60px rgba(0,0,0,1);
    background-image: url(../assets/images/backgroung_footer.png);
    background-position: top;
    background-size: contain;

    padding-top: 60px;
    padding-bottom: 30px;

    position: relative;
}

footer #about{
    width: 100%;
    height: 304px ;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
}

footer #about p{

    font-family: "Quicksand";
    font-size: 14px;
}

footer #sobre > img {
    width: 110px;
}

footer #social_midias_footer{

    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 25px;

}

footer .footer_top {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1200px;

}

footer .footer_top .title_useful h3{

    font-family: "Titilium_web";
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 900;

}

footer .footer_top .title_useful hr{

    border: 2px solid #F9AA01;
    width: 112px;
}


/* LISTA DE LINKS  */

footer .footer_top .menu_footer{

    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;

}

footer .footer_top .menu_footer li{
    list-style-type: none;
    width: 110px;
    margin-bottom: 10px;

}

footer .footer_top .menu_footer a  {

    text-decoration: none;
    color: white;

    font-family: "Titilium_web";
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;


}

 footer .footer_top .menu_footer a:before {

    content: "\2015";
    margin-right: 10px;
    color: #F9AA01;
    
}

/* CONTATOS */

footer .footer_top #contact {

    color: white;
    font-family:"Titilium_web" ;
    font-size: 16px;
    font-weight: bold;
}

footer .footer_top #contact p{

    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

footer .footer_top #contact p span{

    color: #F9AA01;
}

/* NEWSLETTER */

footer #newsletter input ,footer #newsletter button {

    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 8px;
}

footer #newsletter input{
    background-color: transparent;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
    filter: blur(0.5px);

    color: white;
    padding: 5px 10px;
    font-family: "Titilium_web";
    font-size: 16px;
}

footer #newsletter input::placeholder{
    color: white;
}

footer #newsletter button{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9AA01;
    font-family: "Titilium_web";
    font-size: 24px;

    color: #1B1426;
    font-weight: bold;
    text-transform: capitalize;
}

footer .footer_header_bottom {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 162px;
}

footer .footer_header_bottom span{

    font-family: "Titilium_web";
    font-size: 16px;

}


footer  #back_to_top {

    position: absolute;
    bottom: 90px;
    right: 26px;
}


















/* Desktops >= 1200px*/
@media screen and (min-width: 1200px) {
    .layout-grid {
        width: 100%;
        max-width: 1200px;
    }


    /* HEADER  */
    header {
        position: static;
        height: 140px;
    }


    /* Header Top */


    header .header_top {

        /* block é o valor default da maioria dos elementos */

        display: block;
        height: 50px;

        border-bottom: 2px solid #F9AA01;
    }



    header .header_top .contact_right {
        width: 415px;
        display: flex;
        justify-content: space-evenly;

        font-family: "Inter";
        font-size: 14px;
        font-weight: 400;
    }

    header .header_top .contact_right >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        /* border: 1px solid yellow; */
    }

    header .header_top .social_media {
        width: 120px;
        display: flex;

        justify-content: space-between;
        align-items: center;
    
        /* border: 2px solid white; */
    }

    header .mobile_menu,
    header .user_menu,
    header .user_img,
    header .header_bottom nav .smartphone,
    header .header_bottom nav .email,
    header .header_bottom nav .social_media {

        display: none;
    }

    /* Header Bottom */

    header .header_bottom {
        height: 90px;
    }

        header .header_bottom img.menu {
        width: 200px ;
    }

    header .header_bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        /* background-color: red; */
    }


    header .header_bottom nav>a {
        border: none;
        font-size: 14px;
    }

    header .header_bottom nav>a:hover {
        background-color: transparent;
        color: #F9AA01;
    }

    header .header_bottom .user_menu {
        position: static;
        flex-direction: row;
        justify-content: space-between;
        width: 120px;
        height: auto;
        background-color: transparent;
    }

    /* MAIN */
    main {
        margin-top: 0;
    }

    /* Banner */
    main .banner {
        height: 722px;
        /* alterar a imagem de fundo */
        background-image: url(../assets/images/Banner_background_1.png);
        background-size: cover;
        background-position: top;

    }

    main .banner h1 {
        font-size: 80px;
    }

    /* section second */

    main .second_sec {

        height: 500px;
        flex-direction: row;
    }

    main .second_sec .banner_cs {

        width: 556px;
        height: 313px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    main  .second_sec .banner_fifa{ 
        width: 556px;
        height: 313px;
        background-repeat: no-repeat;
        background-size: contain;}



    main .second_sec .box_translucid{
    width: 556px;
    }

}