/* fonts */
@font-face {
    font-family:"Titilium_web";
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family:"Quicksand";
    src: url(../assests/fonts/Quicksand/static/Quicksand-Regular.ttf);
}

@font-face {
    font-family:"Inter" ;
    src: url(../assests/fonts/Inter/static/Inter-Regular.ttf);
}






/* RESET DA PAGINA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout_grid{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    /* border: 1px solid red; */

}

/******* MOBILE FIRST ********/

/* COR DE FUNDO */
body{
    color:white;
    /* background-color: #1B1426; */
}


/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    width: 100vw;
    height: 60px;
    background-color: #1B1426;
    
}


/* HEADER TOP */

/* HIDE HEADER TOP IT ONLY APPEARS ON THE DESKTOP */
header .header_top{

    display: none;
}

/* HEADER BOTTOM */

header .site_between_center {

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header_bottom{
    height: 100%;
}

header .header_bottom img.menu   {
    width: 86px;
}



header .header_bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 22;
    width: 80vw;
    height: calc(100vh - 60px);


    display: flex;
    flex-direction: column;
    /* padding-bottom: 20px; */
    border-image: linear-gradient(to bottom, rgba(27,20,38,0.7), rgba(27,20,38,0.4));
    background-image: linear-gradient(to bottom, rgba(27,20,38,0.7), rgba(27,20,38,0.4));
    backdrop-filter: blur(45px);

    transition: left 0.7s;
}


 .showmenu{

    left: 0 !important;
}

/* o sinal maior ativa somente os links diretos nao ativa o efeito cascata */

header .header_bottom nav > a {

    /* border: 1px solid #F9AA01; */
    border-bottom: 2px solid #F9AA01;
    padding: 30px 0;
    text-align: center;
    text-decoration: none;
    font-family: "Inter";
    font-size: 15px;
    color:white
}
header .header_bottom nav > a:last-of-type {

    border: none;
}

header .header_bottom .social_media {
    position:absolute;
    bottom: 15px;
    left: calc(50% - 100px);
    width: 200px;
    height: 40px;

    display: flex;    
    justify-content: space-evenly;
    align-items: center;
    
}
    

 header .header_bottom .user_menu {
    position: fixed;
    top: 60px;
    right: -66px;
    z-index: 22;
    width: 17vw;
    height: 23vh;

    
    display: flex;
    flex-direction: column;
    border-image: linear-gradient(to bottom, rgba(27,20,38,0.7), rgba(27,20,38,0.4));
    background-image: linear-gradient(to bottom, rgba(27,20,38,0.7), rgba(27,20,38,0.4));
    backdrop-filter: blur(45px);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    transition: 0.7s;
    
 }

 .clickPoint{
    right: 0 !important;
 }
 




 /****** MAIN *********/



 /* FIRST SECTION */

 main{
    margin-top: 60px;
 }

 main .banner{

    width: 100%;
    height: 606px;
    padding: 40px 0;
    
    background-image: url(../assets/images/valorant-pergunte-3-scaled\ 2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

 }



 main .banner h1{

    font-family: "Titilium_web";
    font-size: 40px;
    text-shadow: 0 0 8px #FD4255;
    text-transform: capitalize;
    
 }


 main .button_about{

    width: 171px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9AA01;
    color: #1B1426;

    text-decoration: none;
    font-family: "Titilium_web";
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    


 }

